@page "/"
@using Client
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>


@code {
    List<Order> orders = new List<Order>();
    SoftwareClient client = new SoftwareClient();

    protected override async Task OnInitializedAsync()
    {
        orders = await client.GetOrder();
    }

    public async Task CompleteOrder(Order order)
    {
        await client.CompleteOrder(order);
    }
}

<div class="title">
    <h1>PEDIDOS PENDENTES</h1>
</div>

<div class="orders-container">
    @for (int i = 0; i < orders.Count; i++)
    {
        <div class="order-card">
            <div class="order-header">
                <h2>Pedido #@orders[i].Id</h2>
                <p><strong>Mesa:</strong> @orders[i].Table.TableNumber</p>
                <p><strong>Horário:</strong> @orders[i].Date.ToShortTimeString()</p>
            </div>

            <div class="products-list">     
                @for (int c = 0; c < orders[i].Products.Count; c++)
                {
                    <div class="product-item">
                        <p><strong>@orders[i].Products[c].Name</strong></p>
                        <p class="description">Observações: @orders[i].Products[c].Description</p>
                    </div>
                }
            </div>
            <button class="complete-button" @onclick="()=>CompleteOrder(orders[i])">Finalizar Pedido</button>
        </div>
    }
</div>




